.test-sheet {
  background-color: white;
  border: 1px black solid;
  border-radius: 10px;
  padding: 1em;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

button {
  border-radius: 12px;
  padding: 0.3em 0.6em;
  background-color: var(--cream);
  font-weight: 700;
  font-size: 1.1em;
}

button:hover{
    cursor: pointer;
    opacity: 0.7;
}
