<h1>Testing the api</h1>
<div class="flex-row">
  <button (click)="getAllUsers()">Get All Users</button>
  <button (click)="validateSession()">Check auth</button>
  <button (click)="getTracks('library')">Get Library</button>
  <button (click)="getTracks('recycleBin')">Get Recycle Bin</button>
</div>

<div *ngIf="result && result.users" class="test-sheet">
  <pre *ngFor="let userReturned of result.users">{{ userReturned | json }}</pre>
</div>

<div class="test-sheet" *ngIf="user">
  <pre> {{ user | json }}</pre>
</div>

<div class="test-sheet" *ngIf="tracks">
  <pre> {{ tracks | json }}</pre>
</div>
