/* spinner.component.css */
.spinner-overlay {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  background-color: white;
  padding: 0.4em;
  border-radius: 999px;
  z-index: 1000;
}

.spinner {
  border: 4px solid var(--cream);
  border-radius: 50%;
  border-top: 6px solid black;
  width: 40px;
  height: 40px;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
