<div class="">
  <app-account *ngIf="session; else auth" [session]="session"></app-account>
  <ng-template #auth>
    <div class="">
      <div class="flex-container" aria-live="polite">
        <p class="description">Sign in via magic link with your email below</p>
        <form  [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-item">
          <div class="form-item">
            <label for="email">Email</label>
            <input
              id="email"
              formControlName="email"
              class="inputField"
              type="email"
              placeholder="Your email"
            />
          </div>
          <div>
            <button type="submit" class="button block" [disabled]="loading">
              {{ loading ? 'Loading' : 'Send magic link' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>

