.card {
  padding: 1em;
  border: 1px solid var(--cream);
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  gap: 0.5em;
  animation: balloonEffect 0.5s ease-out forwards;
}
.card img {
  max-width: 14em;
  height: auto;
  border-radius: 4px;
  border: var(--cream) 1px solid;
}

.card-text {
  max-width: 10em;
  text-align: center;
}

.btn-save {
  padding: 0.6em 0.5em;
  border: 1px black solid;
  border-radius: 15px;
  font-size: 1.3em;
  background-color: var(--cream);
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  margin-top: auto;
}

.btn-save:hover {
  background-color: var(--black-custom);
  color: white;
}

@keyframes balloonEffect {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
