<div class="container">
    <img
      [src]="_avatarUrl ? _avatarUrl : '../assets/default-user.png'"
      alt="Avatar"
      class="profile-picture"
    />
  </div>
  <div *ngIf="!_avatarUrl" class="" style=""></div>
  <div *ngIf="position !== 'navbar'" style="width: 150px">
    <label class="button primary block" for="single">
      {{ uploading ? 'Uploading ...' : 'Upload' }}
    </label>
    <input
      style="visibility: hidden;position: absolute"
      type="file"
      id="single"
      accept="image/*"
      (change)="uploadAvatar($event)"
      [disabled]="uploading"
    />
  </div>