<div *ngIf="!loading; else spinner" class="flex-container">
  <h1 *ngIf="profile && profile.username" class="title">
    {{ profile.username }}
  </h1>
  <form
    class="flex-container"
    [formGroup]="updateProfileForm"
    (ngSubmit)="updateProfile()"
  >
    <h3 class="title">Update your profile</h3>
    <app-avatar
      [avatarUrl]="this.avatarUrl"
      [position]="location"
      (upload)="updateAvatar($event)"
    >
    </app-avatar>

    <div class="form-item">
      <label for="email">Email</label>
      <input id="email" type="text" [value]="session.user.email" disabled />
    </div>
    <div class="form-item">
      <label for="username">Username</label>
      <input formControlName="username" id="username" type="text" />
    </div>
    <div class="form-item">
      <label for="full_name">Full Name</label>
      <input formControlName="full_name" id="full_name" type="text" />
    </div>
    <div class="form-item">
      <label for="website">Website</label>
      <input formControlName="website" id="website" type="url" />
    </div>

    <div class="form-item-row">
      <button type="submit" class="button primary block" [disabled]="loading">
        {{ loading ? "Loading ..." : "Update" }}
      </button>
      <button class="button block" (click)="signOut()">Sign Out</button>
    </div>
  </form>
</div>
<ng-template #spinner>
  <loading-spinner></loading-spinner>
</ng-template>
