<loading-spinner *ngIf="loading"></loading-spinner>

<div *ngIf="!loading" class="column">
  <input
    (input)="searchSubmit($event)"
    class="search-input"
    type="text"
    placeholder="What are you looking for?"
  />
  <div class="filters" id="filtersContainer">
    <button *ngFor="let filter of filters | keyvalue" class="filter-btn">
      {{ filter.key }}
    </button>
  </div>
  <div class="grid-container">
    <div *ngFor="let trackData of displayedLibrary">
      <app-track
        [trackData]="trackData"
        (deleteRequest)="deleteTrack(trackData)"
        (restore)="restoreTrack(trackData)"
      ></app-track>
    </div>
  </div>
</div>
