.track {
  display: flex;
  flex-direction: column;
  border: var(--beige-custom) 1px solid;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 100%;
}

.track img {
  max-width: 10em;
  height: auto;
  border-radius: 4px;
  border: var(--cream) 1px solid;
  transition: all 0.3s ease-in-out;
}

.track:hover {
  background-color: var(--beige-custom);
  color: black;
  border-radius: 10px;
}

.track:hover img {
  border: 2px solid black;
  scale: 1.05; /* Replace with your desired border color and width */
}

.track:hover div.add-tabs svg path {
  stroke: black;
}

.spotify-link,
.delete-trash,
.restore,
.add-tabs {
  position: absolute;
  bottom: 0.3em;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.add-tabs {
  left: 0.3em;
  bottom: 3.1em;
}

.delete-trash {
  left: 0.3em;
}

.spotify-link {
  right: 0.3em;
}

.restore {
  right: 0.3em;
  bottom: 3.1em;
}

.spotify-link:hover,
.delete-trash:hover,
.restore:hover,
.add-tabs:hover {
  background-color: black;
  padding: 0.3em;
  border-radius: 99px;
  cursor: pointer;
}

.add-tabs:hover svg path {
  stroke: white !important;
}

.modal-wrapper {
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; /* Flexbox to center the modal */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  backdrop-filter: blur(5px); /* Blurred background */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000; /* High z-index to be on top of other elements */
}

.modal-content {
  background: black;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* Higher z-index than wrapper to appear above the blur */
  border: 1px solid var(--beige-custom);
  max-width: 55%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  animation: balloonEffect 0.5s ease-out forwards;
}

@keyframes balloonEffect {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-img {
  width: 100%;
  height: auto;
  border: var(--beige-custom) 1.5px solid;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 20em;
}

.modal-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.modal-form-input {
  background-color: var(--black-custom);
  padding: 0.6em 0.8em;
  border: 1px solid var(--cream);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
  text-align: start;
  width: 100%;
  font-size: 1em;
}

.modal-add-btn,
.modal-tab-link {
  padding: 0.6em 1em;
  border-radius: 15px;
  font-size: 1em;
  background-color: var(--cream);
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  margin-left: auto;
  border: 1px solid var(--amber-600);
}

.modal-tab-link {
  margin-right: auto;
  margin-left: 0;
  text-decoration: none;
}

.modal-add-btn:hover {
  opacity: 0.7;
}

.modal-track-name {
  font-weight: 700;
  color: var(--beige-custom);
}

.close-modal {
  margin-left: auto;
  margin-bottom: auto;
  padding: 0.2em 0.4em;
  border-radius: 20px;
  background-color: var(--beige-custom);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal:hover svg path {
  fill: var(--red-600);
}

.no-tabs-col,
.modal-track-data {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
}

.no-tabs {
  font-weight: 700;
  padding: 0.3em;
  border: 1px solid var(--beige-custom);
  border-radius: 8px;
  width: fit-content;
  background-color: var(--red-600);
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

/* For very small screens */
@media (max-width: 600px) {
  /* Make the icons smaller and reduce the image/text size so there is no stretching */
}
