<nav id="navbar">
  <div class="menu-container">
    <div *ngIf="isSmallScreen" class="middle menu-middle">
      <img class="logo" src="../../assets/logo.png" alt="" />
      <h1 id="title">What<span>The</span>Key</h1>
    </div>
    <div class="hamburger" (click)="toggleMenu()" *ngIf="isSmallScreen">
      <!-- Hamburger Icon Lines -->
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div [class.active]="menuActive" class="menu-all">
      <!-- Start -->
      <div class="menu-start">
        <div (click)="navigateTo('/')" class="menu-item">
          <span> Home</span>
          <img class="menu-logo" src="../../assets/home.png" alt="" />
        </div>
        <div (click)="navigateTo('/library')" class="menu-item">
          <span> Library</span>
          <img class="menu-logo" src="../../assets/library.png" alt="" />
        </div>
        <div (click)="navigateTo('/deleted')" class="menu-item">
          <span> Deleted</span>
          <img class="menu-logo" src="../../assets/deleted.png" alt="" />
        </div>
      </div>
      <!-- Middle -->
      <div *ngIf="!isSmallScreen" class="middle menu-middle">
        <img class="logo" src="../../assets/logo.png" alt="" />
        <h1 id="title">What<span>The</span>Key</h1>
      </div>
      <!-- Right -->
      <div class="menu-end">
        <div *ngIf="session; else loginTemplate" class="auth">
          <app-avatar
            (click)="navigateTo('/account')"
            [avatarUrl]="profile?.avatar_url!"
            [position]="location"
          ></app-avatar>
          <div class="menu-item">
            <span class="pointer" (click)="navigateTo('/account')">{{
              profile?.username ? profile?.username : profile?.full_name
            }}</span>
          </div>
          <div class="menu-item">
            <span class="pointer menu-item" (click)="signOut()">Log Out</span>
          </div>
        </div>

        <ng-template #loginTemplate>
          <div (click)="navigateTo('/login')" class="menu-item pointer">
            <span>Log In</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
