#navbar {
  background-color: var(--black-custom);
  color: var(--cream);
  padding: 0.4em 0.5em;
  display: grid;
  align-items: center;
}

.logo {
  width: 2.5em;
}

.menu-logo,
.logo {
  height: auto;
  border-radius: 99px;
}

.menu-logo {
  width: 1.5em;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#title span {
  color: var(--beige-custom);
  font-weight: 900;
}

#title {
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.menu-all.active {
  display: flex;
}

.menu-all {
  width: 100%;
  display: grid;
  grid-template-areas: "start middle end"; /* Define areas */
  grid-template-columns: 1fr auto 1fr; /* three columns layout */
  gap: 0.5em;
  align-items: center;
  font-weight: 600;
  font-size: 1.2em;
  margin-right: 0.4em;
}

.menu-start {
  grid-area: start;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.middle {
  grid-area: middle;
}

.menu-end {
  grid-area: end;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.auth {
  display: flex;
  gap: 0.4em;
}

.menu-container {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--cream);
  margin: 3px 0;
}

.menu-all  .menu-item {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 0.3em;
  align-items: center;
}

.menu-all  .menu-item span:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: var(--beige-custom);
  border-bottom: 1px dashed var(--beige-custom);
}


@media (max-width: 630px) {
  .hamburger {
    display: grid; /* Show hamburger on small screens */
    justify-content: end;
    width: fit-content;
    margin-left: auto;
  }

  .menu-all {
    display: none; /* Hide the regular menu on small screens */
    flex-direction: column; /* Stack menu items vertically */
  }

  .menu-all.active {
    display: flex; /* Show menu when active (hamburger clicked) */
    position: absolute;
    right: 0em;
    width: 80%;
    top: 3em;
    background-color: black;
    padding: 1em;
    border-radius: 6px;
    border: var(--beige-custom) 1px solid;
    z-index: 1;
    text-align: center;
  }

  .menu-start {
    flex-direction: column;
  }
  .auth {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #title {
    text-align: left;
    flex-grow: 1; /* Allow title to take up remaining space */
  }
}
