.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Adjust minmax as needed */
  grid-auto-rows: 1fr; /* Makes rows take up equal space */
  background-color: black;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background-color: black;
  padding: 1em;
  border: 1px solid var(--cream);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
}
