/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/ngx-toastr/toastr.css");

:root {
  --black-custom: #000000;
  --beige-custom: #f4dfc8;
  --cream: #f4eae0;
  --cream-light: #faf6f0;
  --beige-darker: #e0dcd6;

  --amber-s50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --amber-950: #451a03;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
}

* {
  font-family: "Figtree", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  background-image: url("assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 1em 0;
}
